body {
    background-color: rgb(50, 111, 223);
}

h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline rgb(0, 0, 0);
    text-underline-position: under;
    font-family: "Chewy", monospace;
    color: white;

}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Anton", monospace;
    color: white;

}

.table-content {
    border-collapse: collapse;
    position: relative;
    margin: 10px auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

thead {
    background-color: rgb(103, 64, 212);
}

td {
    width: 150px;
    font-family: monospace;
    padding: 15px 10px;
    border-bottom: solid rgb(255, 255, 255);
    background-color: #000000;
    color: white;
}

.example {
    text-align: left;
    font-size: 20px;
    position: relative;
    width: 400px;
    font-family: "Anton", monospace;


}

.name {
    text-align: left;
    font-size: 20px;
    position: relative;
    font-family: "Anton", monospace;
}

.description {
    text-align: left;
    font-size: 20px;
    position: relative;
    width: 400px;
    font-family: "Anton", monospace;
}

